/* Hero Section */
.hero {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10vh;
    width: 100%;  /* Full width for responsiveness */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  /* Center horizontally */
    text-align: center;
}

.hero h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    width: 100%;  /* Full width for responsiveness */
}

.hero p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    max-width: 600px;
    width: 90%;  /* Ensure the paragraph doesn't overflow */
    text-align: center;
}

.hero h1 span {
    background: linear-gradient(75deg, #da7c25 0.5%, #8923e1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero img {
    border-radius: 50%;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.hero-action {
    display: flex;
    flex-direction: row;  /* Ensures buttons are aligned horizontally */
    gap: 20px;
    font-size: 1.2rem;
    margin-bottom: 50px;
    justify-content: center;
}

.hero-connect,
.hero-resume {
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
    color: white;
}

.hero-connect {
    background: linear-gradient(75deg, #da7c25 0.5%, #8923e1);
}

.hero-resume {
    border: 2px solid #FFF;
}

.hero-resume a {
    text-decoration: none;
}

.hero-connect:hover,
.hero-resume:hover {
    transform: scale(1.05);
}

@media (max-width: 1024px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero img {
        width: 150px;
    }

    .hero-action {
        flex-direction: column;  /* Stack buttons vertically on smaller screens */
        gap: 15px;
    }
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
        width: 90%;
    }

    .hero img {
        width: 120px;
    }

    .hero-action {
        flex-direction: column;
    }

    .hero-connect,
    .hero-resume {
        width: 80%;
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 0.8rem;
    }

    .hero img {
        width: 100px;
    }

    .hero-connect,
    .hero-resume {
        font-size: 0.8rem;
    }
}

@media (max-width: 100px) {
    .hero h1 {
        font-size: 1rem;
    }

    .hero p {
        font-size: 0.7rem;
    }

    .hero img {
        width: 50px;
    }

    .hero-connect,
    .hero-resume {
        font-size: 0.7rem;
        padding: 5px 10px;
    }
}
