:root {

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
    font-family: "outfit";

}
*{
    margin: 0;
    padding: 0;
}

.div{
    background-color: rgb(198, 114, 5);
}