/* Navbar */
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2%;
}

.nav-list img {
    /* width: 100px; Ensures logo stays within the viewport */
    height: auto;
}

.nav-ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 18px;
    margin: 0;
    padding-left: 0;
}

.nav-connect {
    display: flex;
    padding: 11px 20px;
    border-radius: 50px;
    background: linear-gradient(280deg, #da7c25 0.5%, #8923e1);
    font-size: 18px;
    cursor: pointer;
    transition: 0.4s;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-ul li {
    cursor: pointer;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.anchor-link:active {
    background: linear-gradient(280deg, #da7c25 0.5%, #8923e1);
    -webkit-background-clip: text;
    color: transparent;
}

.nav-open {
    display: none;
}

.nav-close {
    display: none;
}

@media (max-width: 1024px) {
    .nav-list {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 100px;
    }

    .nav-connect {
        display: none; /* Hides the connect button on small screens */
    }

    .nav-open {
        display: block;
        position: absolute;
        top: 39px;
        right: 19px;
        width: 6vw;  /* Responsive width based on viewport */
        height: 6vw; /* Responsive height based on viewport */
        cursor: pointer;
        transform: translatez(100%);
        transition: transform 0.8ms;
    }

    .nav-ul {
        
        position: fixed;
        top: 0;
        right: -380px;
        flex-direction: column;
        align-items: flex-start;
        width: 250px;
        height: 100vh;
        background-color: rgb(55, 69, 77);
        padding: 2em 1em;
        transition: 0.5s;
        z-index: 10;
    }

    .nav-ul li {
        font-size: 1.5em;
        padding: 0.5em 0;
        width: 100%;
    }


    .nav-close{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 6vw;
        height: 6vw;
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    .nav-open {
        width: 8vw;  /* Adjusted for smaller screens */
        height: 8vw;
        top: 6vw;
    }
    .logo{
        padding-left: 0px;
        padding-top: 0vw;
    }
     .nav-ul {
        
        position: fixed;
        top: 0;
        right: -380px;
        flex-direction: column;
        align-items: flex-start;
        width: 150px;
        height: 100vh;
        background-color: rgb(55, 69, 77);
        /* padding: 2em 1em; */
        gap: 14px;
        transition: 0.5s;
        z-index: 10;
        padding-top: 60px;
    }
    
}

@media (max-width: 400px) {
    .nav-open {
        width: 10vw;  /* Larger size for very small screens */
        height: 10vw;
        top: 6vw;
    }
    .nav-close{
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 11vw;
        height: 6vw;
        cursor: pointer;
    }
}

@media (max-width: 100px) {
    .nav-list {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .nav-list img {
        width: 50px;
    }

    .nav-open {
        width: 12vw;  /* Adjusted size for ultra-small screens */
        height: 12vw;
    }

    .nav-ul li {
        font-size: 1rem;
    }

    .nav-connect {
        padding: 8px 15px;
        font-size: 0.8rem;
    }
}
